<header>Registrations for <%=link_to(@group.name,@group)%></header>
<br>

<ol>
  <%@registrations.each do |r|%>
      <li><%=link_to "#{r.name} -#{r.role}",group_team_registration_path(@group,r)%>
    </li>

  <%end%>
</ol>


<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>email</th>
    <th>role</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @registrations.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.email %></td>
        <td><%= r.role %></td>

        <td><%= link_to 'Show', group_team_registration_path(@group,r),class:'btn btn-link'  %></td>
        <td><%= link_to 'Edit',edit_group_team_registration_path(@group,r) , class:'btn btn-link'  %></td>
        <td><%= link_to 'Destroy', group_team_registration_path(@group,r), method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-link' %></td>
      </tr>
  <% end %>
  </tbody>
</table>