<p id="notice"><%= notice %></p>

<h1>Listing Growers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @growers.each do |grower| %>
      <tr>
        <td><%= grower.name %></td>
        <td><%= grower.address %></td>
        <td><%= grower.phone %></td>
        <td><%= link_to 'Show', grower,class:'btn btn-link'  %></td>
        <td><%= link_to 'Edit', edit_grower_path(grower) ,class:'btn btn-link' %></td>
        <td><%= link_to 'Destroy', grower, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-link'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grower', new_grower_path,class:'btn btn-link'  %>
