<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grower.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @grower.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @grower.phone %>
</p>

<%= link_to 'Edit', edit_grower_path(@grower),class:'btn btn-link'  %> |
<%= link_to 'Back', growers_path,class:'btn btn-link'  %>
