%p#notice= notice

%p
  %b Hmer egris:
  = @mfarmako.hmer_egris
%p
  %b Kod farmak:
  = @mfarmako.kod_farmak
%p
  %b Gbonoma:
  = @mfarmako.gbonoma
%p
  %b Emporikhon:
  = @mfarmako.emporikhon
%p
  %b Fprint:
  = @mfarmako.fprint
%p
  %b Common:
  = @mfarmako.common
%p
  %b Enimerosi:
  = @mfarmako.enimerosi
%p
  %b Amature use:
  = @mfarmako.amature_use
%p
  %b Tag:
  = @mfarmako.tag
%p
  %b Mixture:
  = @mfarmako.mixture
%p
  %b Edr cod kat:
  = @mfarmako.edr_cod_kat
%p
  %b Date notification:
  = @mfarmako.date_notification
%p
  %b Date updateldate:
  = @mfarmako.date_updateLdate
%p
  %b Kode:
  = @mfarmako.kode
%p
  %b Num protok:
  = @mfarmako.num_protok
%p
  %b Num protok-total:
  = @mfarmako.num_protok-total
%p
  %b Tegris:
  = @mfarmako.tegris
%p
  %b Type egris:
  = @mfarmako.type_egris
%p
  %b Kat number:
  = @mfarmako.kat_number
%p
  %b Fys katast:
  = @mfarmako.fys_katast
%p
  %b Fys-kat:
  = @mfarmako.fys-kat
%p
  %b Adate:
  = @mfarmako.adate
%p
  %b Group:
  = @mfarmako.group
%p
  %b Morfhskeya:
  = @mfarmako.morfhskeya
%p
  %b Bohthitike:
  = @mfarmako.bohthitike
%p
  %b Aposyrsh:
  = @mfarmako.aposyrsh
%p
  %b Kod:
  = @mfarmako.kod
%p
  %b Food:
  = @mfarmako.food
%p
  %b Stoxos:
  = @mfarmako.stoxos
%p
  %b Trop efar:
  = @mfarmako.trop_efar
%p
  %b Met klima:
  = @mfarmako.met_klima
%p
  %b Paraskeyas:
  = @mfarmako.paraskeyas
%p
  %b Antiprosop:
  = @mfarmako.antiprosop
%p
  %b Contact market:
  = @mfarmako.contact_market
%p
  %b Contact point:
  = @mfarmako.contact_point
%p
  %b Code toxik:
  = @mfarmako.code_toxik
%p
  %b Rcode:
  = @mfarmako.rcode
%p
  %b Telos egri:
  = @mfarmako.telos_egri

= link_to 'Edit', edit_mfarmako_path(@mfarmako)
\|
= link_to 'Back', mfarmakos_path
