<p id="notice"><%= notice %></p>

<p>
  <strong>Kod farmak:</strong>
  <%= @mepembash.kod_farmak %>
</p>

<p>
  <strong>Code fyta:</strong>
  <%= @mepembash.code_fyta %>
</p>

<p>
  <strong>Diast pros:</strong>
  <%= @mepembash.diast_pros %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @mepembash.comments %>
</p>

<p>
  <strong>Delrec:</strong>
  <%= @mepembash.delrec %>
</p>

<%= link_to 'Edit', edit_mepembash_path(@mepembash) %> |
<%= link_to 'Back', mepembashes_path %>
