<%= form_for([@production,@fertilization]) do |f| %>
  <% if @fertilization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fertilization.errors.count, "error") %> prohibited this fertilization from being saved:</h2>

      <ul>
      <% @fertilization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date,class:'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name,class:'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :typos %><br>
    <%= f.text_field :typos,class:'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :concentration %><br>
    <%= f.text_field :concentration,class:'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount,class:'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :application_method %><br>
    <%= f.text_field :application_method,class:'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :machinery %><br>
    <%= f.text_field :machinery,class:'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :approved_by %><br>
    <%= f.text_field :approved_by,class:'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :operator %><br>
    <%= f.text_field :operator,class:'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_field :note,class:'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class:'btn btn-default'%>
  </div>
<% end %>
