<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @fertilization.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fertilization.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fertilization.typos %>
</p>

<p>
  <strong>Concentration:</strong>
  <%= @fertilization.concentration %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @fertilization.amount %>
</p>

<p>
  <strong>Application method:</strong>
  <%= @fertilization.application_method %>
</p>

<p>
  <strong>Machinery:</strong>
  <%= @fertilization.machinery %>
</p>

<p>
  <strong>Approved by:</strong>
  <%= @fertilization.approved_by %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @fertilization.operator %>
</p>

<p>
  <strong>Note:</strong>
  <%= @fertilization.note %>
</p>

<%= link_to 'Edit', edit_production_fertilization_path(@production,@fertilization) %> |
<%= link_to 'Cancel', pmu_production_path(@pmu,@production) %>
