<p id="notice"><%= notice %></p>

<p>
  <strong>Farmako:</strong>
  <%= @mfc.farmako_id %>
</p>

<p>
  <strong>Mcrop:</strong>
  <%= @mfc.mcrop_id %>
</p>

<p>
  <strong>Crops:</strong>
  <%= @mfc.crops %>
</p>

<p>
  <strong>Edr cod kat:</strong>
  <%= @mfc.edr_cod_kat %>
</p>

<p>
  <strong>Eidos:</strong>
  <%= @mfc.eidos %>
</p>

<p>
  <strong>Emporikho:</strong>
  <%= @mfc.emporikho %>
</p>

<p>
  <strong>Gbonoma:</strong>
  <%= @mfc.gbonoma %>
</p>

<p>
  <strong>Apsyrsh:</strong>
  <%= @mfc.apsyrsh %>
</p>

<p>
  <strong>Telos egri:</strong>
  <%= @mfc.telos_egri %>
</p>

<p>
  <strong>Un delete:</strong>
  <%= @mfc.un_delete %>
</p>

<p>
  <strong>Soil:</strong>
  <%= @mfc.soil %>
</p>

<%= link_to 'Edit', edit_mfc_path(@mfc) %> |
<%= link_to 'Back', mfcs_path %>
