<%= form_for(@farm_dro) do |f| %>
  <% if @farm_dro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@farm_dro.errors.count, "error") %> prohibited this farm_dro from being saved:</h2>

      <ul>
      <% @farm_dro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kod_farmak %><br>
    <%= f.number_field :kod_farmak %>
  </div>
  <div class="field">
    <%= f.label :kodikos %><br>
    <%= f.text_field :kodikos %>
  </div>
  <div class="field">
    <%= f.label :kof_morfh %><br>
    <%= f.text_field :kof_morfh %>
  </div>
  <div class="field">
    <%= f.label :synthesh %><br>
    <%= f.text_field :synthesh %>
  </div>
  <div class="field">
    <%= f.label :katharotht %><br>
    <%= f.text_field :katharotht %>
  </div>
  <div class="field">
    <%= f.label :kodikos_kath %><br>
    <%= f.text_field :kodikos_kath %>
  </div>
  <div class="field">
    <%= f.label :delrec %><br>
    <%= f.text_field :delrec %>
  </div>
  <div class="field">
    <%= f.label :fprint %><br>
    <%= f.text_field :fprint %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
