<p id="notice"><%= notice %></p>

<p>
  <strong>Kod farmak:</strong>
  <%= @farm_dro.kod_farmak %>
</p>

<p>
  <strong>Kodikos:</strong>
  <%= @farm_dro.kodikos %>
</p>

<p>
  <strong>Kof morfh:</strong>
  <%= @farm_dro.kof_morfh %>
</p>

<p>
  <strong>Synthesh:</strong>
  <%= @farm_dro.synthesh %>
</p>

<p>
  <strong>Katharotht:</strong>
  <%= @farm_dro.katharotht %>
</p>

<p>
  <strong>Kodikos kath:</strong>
  <%= @farm_dro.kodikos_kath %>
</p>

<p>
  <strong>Delrec:</strong>
  <%= @farm_dro.delrec %>
</p>

<p>
  <strong>Fprint:</strong>
  <%= @farm_dro.fprint %>
</p>

<%= link_to 'Edit', edit_farm_dro_path(@farm_dro) %> |
<%= link_to 'Back', farm_dros_path %>
