<%= form_for([@production,@pp]) do |f| %>
  <% if @pp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pp.errors.count, "error") %> prohibited this pp from being saved:</h2>

      <ul>
      <% @pp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date ,class:'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :trade_name %><br>
    <%= f.text_field :trade_name,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :active_ingridient %><br>
    <%= f.text_field :active_ingridient,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :reason %><br>
    <%= f.text_field :reason,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :application_method %><br>
    <%= f.text_field :application_method,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :tech_responsible %><br>
    <%= f.text_field :tech_responsible ,class:'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :operator %><br>
    <%= f.text_field :operator,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :persons %><br>
    <%= f.text_field :persons ,class:'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_field :note,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :production_id %><br>
    <%= f.number_field :production_id,class:'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class:'btn btn-default' %>
  </div>
<% end %>
