<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @pp.date %>
</p>

<p>
  <strong>Trade name:</strong>
  <%= @pp.trade_name %>
</p>

<p>
  <strong>Active ingridient:</strong>
  <%= @pp.active_ingridient %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @pp.reason %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @pp.amount %>
</p>

<p>
  <strong>Application method:</strong>
  <%= @pp.application_method %>
</p>

<p>
  <strong>Tech responsible:</strong>
  <%= @pp.tech_responsible %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @pp.operator %>
</p>

<p>
  <strong>Persons:</strong>
  <%= @pp.persons %>
</p>

<p>
  <strong>Note:</strong>
  <%= @pp.note %>
</p>

<p>
  <strong>Production:</strong>
  <%= @pp.production_id %>
</p>

<%= link_to 'Edit', edit_production_pp_path(@production,@pp) %>
