<%= form_for(@fertilizer) do |f| %>
  <% if @fertilizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fertilizer.errors.count, "error") %> prohibited this fertilizer from being saved:</h2>

      <ul>
      <% @fertilizer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :quantiy %><br>
    <%= f.text_field :quantiy %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
