<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @fertilizer.brand %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fertilizer.type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @fertilizer.content %>
</p>

<p>
  <strong>Quantiy:</strong>
  <%= @fertilizer.quantiy %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @fertilizer.unit %>
</p>

<%= link_to 'Edit', edit_fertilizer_path(@fertilizer) %> |
<%= link_to 'Back', fertilizers_path %>
