= form_for @coco do |f|
  - if @coco.errors.any?
    #error_explanation
      %h2= "#{pluralize(@coco.errors.count, "error")} prohibited this coco from being saved:"
      %ul
        - @coco.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  %h3 Todos
  #todos
    =f.fields_for :todos do |todo|
      =render "todo_fields",:f=>todo
      .links
      =link_to_add_association 'add todo',f ,:todos 
  .actions
    = f.submit
