%h1 Listing cocos

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @cocos.each do |coco|
      %tr
        %td= coco.name
        %td= coco.description
        %td= link_to 'Show', coco
        %td= link_to 'Edit', edit_coco_path(coco)
        %td= link_to 'Destroy', coco, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Coco', new_coco_path
