<%= form_for(@group,:html=>{multipart: true}) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name,class:'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address,class:'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone ,class:'form-control'%>
  </div>
    <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email,class:'form-control' %>
  </div>

    <div class="form-group">
      <%= f.label :avatar %><br>
      <%= image_tag(@group.avatar_url(:thumb)) if @group.avatar?%>
      <%= f.file_field :avatar,class:'form-control' %>
      <%=f.hidden_field :avatar_cache %>
      <%= f.label :Remove_avatar %>
      <%= f.check_box :remove_avatar %>
    </div>


  <div class="actions">
    <%= f.submit class:'btn btn-default'%>
  </div>
<% end %>
