
<%=link_to "<<=Back to your projects(Groups/index)", groups_path ,class:'btn btn-link'%>
 <div class="jumbotron">
  <div class="row">
    <div class="col-xs-3 col-xs-offset">
    <h2></h2>
    <%=image_tag @group.avatar_url(:mid) if @group.avatar%>

  </div>
  <div class="col-xs-9">
    <h2><%= @group.name %><br/>
    <small><%= @group.address %><br/>
    <%= @group.phone %>
    <%= @group.email %></small></h2>

    <%= link_to 'Edit', edit_group_path(@group) ,class:'btn btn-link' %>
  </div>
 </div>
   </div>
<p>
<% content_for (:side) do %>
<% if @registrations.any? %>
<h3>
  <%=@group.name%>
</h3>
  
    <% @registrations.each do |r|%>
    <ul>
      <li> <%=link_to "#{r.name} -#{r.role}",group_team_registration_path(@group,r)%></li>
    </ul>
    <%end%>
<%end%>
<%end%>
</p>
<p>
  <%=link_to "Register!",new_group_team_registration_path(@group),class:'btn btn-link'%>
</p>
<hr>

