
<%=link_to "<<=Back to your projects(Groups/index)", groups_path ,class:'btn btn-link'%>
 <div class="jumbotron">
  <div class="row">
    <div class="col-xs-3 col-xs-offset">
    <h2></h2>
    <%=image_tag @group.avatar_url(:mid) ,class:'img-responsive img-rounded' if @group.avatar %>

  </div>
  <div class="col-xs-9">
    <h2><%= @group.name %><br/>
    <small><%= @group.address %><br/>
    <%= @group.phone %>
    <%= @group.email %></small></h2>

    <%= link_to 'Edit', edit_group_path(@group) ,class:'btn btn-link' %>
  </div>
 </div>
   </div>
<p>
<% content_for (:side) do %>
 <% if @group.registrations.any? %>
  <div >
    <h4 class='text-center'><%=@group.name%> <span>Tel:<%=@group.phone%></h4>
    <p>
      <%=link_to " + Νέο Μέλος!",new_group_team_registration_path(@group),class:'btn btn-default btn-sm center-block'%>
    </p>
    

    <% @group.registrations.each do |r|%>
    <ul>
      <li> <%=link_to "#{r.name} -#{r.role}",group_team_registration_path(@group,r)%></li>
    </ul>
    <%end%>
  </div>
<%end%>
</p>
<%end%>


<p>
  <%=link_to "+ Νέο Μέλος!",new_group_team_registration_path(@group),class:'btn btn-link'%>
</p>
<hr>



