
<%=link_to "<<=Back to your projects(Groups/index)", groups_path ,class:'btn btn-link'%>
<div class="jumbotron">
<p>
  <%=image_tag @group.avatar_url(:mid) if @group.avatar%>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @group.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @group.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @group.email %>
</p>

<%= link_to 'Edit', edit_group_path(@group) ,class:'btn btn-link' %>
</div>

<p>
<% if @registrations.any? %>
    <h3>Registered members</h3>
    <% @registrations.each do |r|%>
    <ul>
      <li> <%=link_to "#{r.name} -#{r.role}",group_team_registration_path(@group,r)%></li>
    </ul>
    <%end%>
<%end%>
</p>
<p>
  <%=link_to "Register!",new_group_team_registration_path(@group),class:'btn btn-link'%>
</p>
<hr>

