
<%=link_to "<<=Pmu(of production)",team_registration_pmu_path(@registration,@pmu)%>

<h3>Καλιέργεια   <%= @production.mcrop.gonoma %></h3>
  <%=@production.pmu.address%>

<p>
  <strong>Pmu:</strong>
  <%= @production.pmu.address %>
</p>

<p>
  <strong>Produce:</strong>
  <%= @production.mcrop.gonoma %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @production.variety %>
</p>

<p>
  <strong>Plantation year:</strong>
  <%= @production.plantation_year %>
</p>

<p>
  <strong>Number of trees:</strong>
  <%= @production.number_of_trees %>
</p>

<p>
  <strong>Expected quantitiy:</strong>
  <%= @production.expected_quantitiy %>
</p>

<p>
  <strong>Ehd:</strong>
  <%= @production.ehd %>
</p>

<strong>Certification:</strong>
<ul>
  <% @production.standards.each do |standard|%>
      <li><%=standard.name%></li>
  <%end%>

</ul>
<%=link_to "Cancel",team_registration_pmu_path(@registration,@pmu)%> |
<%=link_to "Delete",pmu_production_path(@pmu,@production),method: :delete%>
