<p id="notice"><%= notice %></p>

<%=link_to "<<=Pmu(of production)",team_registration_pmu_path(@registration)%>

<h3>Production for <%=@production.pmu.address%></h3>

<p>
  <strong>Pmu:</strong>
  <%= @production.pmu.address %>
</p>

<p>
  <strong>Produce:</strong>
  <%= @production.produce.name %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @production.variety %>
</p>

<p>
  <strong>Plantation year:</strong>
  <%= @production.plantation_year %>
</p>

<p>
  <strong>Number of trees:</strong>
  <%= @production.number_of_trees %>
</p>

<p>
  <strong>Expected quantitiy:</strong>
  <%= @production.expected_quantitiy %>
</p>

<p>
  <strong>Ehd:</strong>
  <%= @production.ehd %>
</p>

<hr>
<strong>Certification:</strong>
<ul>
  <% @production.standards.each do |standard|%>
      <li><%=standard.name%></li>
  <%end%>
</ul>

<%= link_to 'Edit', edit_pmu_production_path(@pmu,@production) ,class:'btn btn-link' %>
