<%= form_for(@chem) do |f| %>
  <% if @chem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chem.errors.count, "error") %> prohibited this chem from being saved:</h2>

      <ul>
      <% @chem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mfc %><br>
    <%= f.text_field :mfc %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
