<p id="notice"><%= notice %></p>

<h1>Listing Chems</h1>

<table>
  <thead>
    <tr>
      <th>Mfc</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chems.each do |chem| %>
      <tr>
        <td><%= chem.mfc %></td>
        <td><%= chem.quantity %></td>
        <td><%= chem.unit %></td>
        <td><%= link_to 'Show', chem %></td>
        <td><%= link_to 'Edit', edit_chem_path(chem) %></td>
        <td><%= link_to 'Destroy', chem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chem', new_chem_path %>
