= form_for @mcfarmast do |f|
  - if @mcfarmast.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mcfarmast.errors.count, "error")} prohibited this mcfarmast from being saved:"
      %ul
        - @mcfarmast.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :kod_farmak
    = f.number_field :kod_farmak
  .field
    = f.label :counter
    = f.number_field :counter
  .field
    = f.label :code_fyta
    = f.number_field :code_fyta
  .field
    = f.label :tropoxrono
    = f.text_field :tropoxrono
  .field
    = f.label :code_asten
    = f.text_field :code_asten
  .field
    = f.label :fbcode
    = f.text_field :fbcode
  .field
    = f.label :dosh_farm
    = f.text_field :dosh_farm
  .field
    = f.label :kod_doshs
    = f.number_field :kod_doshs
  .actions
    = f.submit 'Save'
