<p id="notice"><%= notice %></p>

<p>
  <strong>Hmer egris:</strong>
  <%= @farmako.hmer_egris %>
</p>

<p>
  <strong>Kod farmak:</strong>
  <%= @farmako.kod_farmak %>
</p>

<p>
  <strong>Gbonoma:</strong>
  <%= @farmako.gbonoma %>
</p>

<p>
  <strong>Emporikhon:</strong>
  <%= @farmako.emporikhon %>
</p>

<p>
  <strong>Fprint:</strong>
  <%= @farmako.fprint %>
</p>

<p>
  <strong>Common:</strong>
  <%= @farmako.common %>
</p>

<p>
  <strong>Enimerosi:</strong>
  <%= @farmako.enimerosi %>
</p>

<p>
  <strong>Amateur use:</strong>
  <%= @farmako.amateur_use %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @farmako.tag %>
</p>

<p>
  <strong>Mixture:</strong>
  <%= @farmako.mixture %>
</p>

<p>
  <strong>Edr cod kat:</strong>
  <%= @farmako.edr_cod_kat %>
</p>

<p>
  <strong>Date notification:</strong>
  <%= @farmako.date_notification %>
</p>

<p>
  <strong>Date update:</strong>
  <%= @farmako.date_update %>
</p>

<p>
  <strong>Kode:</strong>
  <%= @farmako.kode %>
</p>

<p>
  <strong>Num protok:</strong>
  <%= @farmako.num_protok %>
</p>

<p>
  <strong>Num total:</strong>
  <%= @farmako.num_total %>
</p>

<p>
  <strong>Tegris:</strong>
  <%= @farmako.tegris %>
</p>

<p>
  <strong>Type egris:</strong>
  <%= @farmako.type_egris %>
</p>

<p>
  <strong>Type egris:</strong>
  <%= @farmako.type_egris %>
</p>

<p>
  <strong>Kat number egris:</strong>
  <%= @farmako.kat_number_egris %>
</p>

<p>
  <strong>Fys katast:</strong>
  <%= @farmako.fys_katast %>
</p>

<p>
  <strong>Fys kat:</strong>
  <%= @farmako.fys_kat %>
</p>

<p>
  <strong>Group:</strong>
  <%= @farmako.group %>
</p>

<p>
  <strong>Morfhskeya:</strong>
  <%= @farmako.morfhskeya %>
</p>

<p>
  <strong>Biothitike:</strong>
  <%= @farmako.biothitike %>
</p>

<p>
  <strong>Aposyrsi:</strong>
  <%= @farmako.aposyrsi %>
</p>

<p>
  <strong>Kod:</strong>
  <%= @farmako.kod %>
</p>

<p>
  <strong>Food:</strong>
  <%= @farmako.food %>
</p>

<p>
  <strong>Stoxos:</strong>
  <%= @farmako.stoxos %>
</p>

<p>
  <strong>Tropos efar:</strong>
  <%= @farmako.tropos_efar %>
</p>

<p>
  <strong>Met klima:</strong>
  <%= @farmako.met_klima %>
</p>

<p>
  <strong>Paraskeyas:</strong>
  <%= @farmako.paraskeyas %>
</p>

<p>
  <strong>Antiprosop:</strong>
  <%= @farmako.antiprosop %>
</p>

<p>
  <strong>Configontact market:</strong>
  <%= @farmako.configontact_market %>
</p>

<p>
  <strong>Contact point:</strong>
  <%= @farmako.contact_point %>
</p>

<p>
  <strong>Code toxik:</strong>
  <%= @farmako.code_toxik %>
</p>

<p>
  <strong>Rcode:</strong>
  <%= @farmako.rcode %>
</p>

<p>
  <strong>Telos egri:</strong>
  <%= @farmako.telos_egri %>
</p>

<%= link_to 'Edit', edit_farmako_path(@farmako) %> |
<%= link_to 'Back', farmakos_path %>
