= form_for @mfarmkziz do |f|
  - if @mfarmkziz.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mfarmkziz.errors.count, "error")} prohibited this mfarmkziz from being saved:"
      %ul
        - @mfarmkziz.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :counter
    = f.number_field :counter
  .field
    = f.label :mfarmako_id
    = f.number_field :mfarmako_id
  .field
    = f.label :mcrop_id
    = f.number_field :mcrop_id
  .field
    = f.label :tropoxron
    = f.text_field :tropoxron
  .field
    = f.label :delrec
    = f.check_box :delrec
  .field
    = f.label :general
    = f.check_box :general
  .field
    = f.label :un_delete
    = f.check_box :un_delete
  .field
    = f.label :undate
    = f.text_field :undate
  .actions
    = f.submit 'Save'
