= form_for @mfarmkast do |f|
  - if @mfarmkast.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mfarmkast.errors.count, "error")} prohibited this mfarmkast from being saved:"
      %ul
        - @mfarmkast.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :counter
    = f.number_field :counter
  .field
    = f.label :kod_farmak
    = f.number_field :kod_farmak
  .field
    = f.label :code_fyta
    = f.number_field :code_fyta
  .field
    = f.label :tropoxrono
    = f.text_field :tropoxrono
  .field
    = f.label :delrec
    = f.check_box :delrec
  .field
    = f.label :general
    = f.check_box :general
  .field
    = f.label :un_delete
    = f.check_box :un_delete
  .field
    = f.label :un_date
    = f.date_select :un_date
  .actions
    = f.submit 'Save'
