<p id="notice"><%= notice %></p>

<h3><%=link_to"#{@pmu.registration.name}",@registration%></h3>

<p>
  <strong>Reg id (to be hidden):</strong>
  <%=@pmu.registration.id%>
</p>


<p>
  <strong>Address:</strong>
  <%= @pmu.address %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pmu.location %>
</p>



<p>
  <strong>Facilities:</strong>
  <%= @pmu.facilities %>
</p>
<%= link_to 'Edit', edit_registration_pmu_path(@registration,@pmu) ,class:'btn btn-link' %>

<hr>
<h3>+ Add Production </h3>
<%=link_to "Add Production",new_pmu_production_path(@pmu)%>