%p#notice= notice

%p
  %b Counter:
  = @entypo.counter
%p
  %b Methodos:
  = @entypo.methodos
%p
  %b Stadio season:
  = @entypo.stadio_season
%p
  %b Num min:
  = @entypo.num_min
%p
  %b Num max:
  = @entypo.num_max
%p
  %b Diast min:
  = @entypo.diast_min
%p
  %b Diast max:
  = @entypo.diast_max
%p
  %b Kgm-min:
  = @entypo.kgm-min
%p
  %b Kgm:
  = @entypo.kgm
%p
  %b Max:
  = @entypo.max
%p
  %b Lt min:
  = @entypo.lt_min
%p
  %b Lt max:
  = @entypo.lt_max
%p
  %b Kgmekt min:
  = @entypo.kgmekt_min
%p
  %b Kgmekt max:
  = @entypo.kgmekt_max
%p
  %b Comments:
  = @entypo.comments

= link_to 'Edit', edit_entypo_path(@entypo)
\|
= link_to 'Back', entypos_path
