<p id="notice"><%= notice %></p>

<p>
  <strong>Kodikos:</strong>
  <%= @systatik.kodikos %>
</p>

<p>
  <strong>Omadron:</strong>
  <%= @systatik.omadron %>
</p>

<p>
  <strong>Arxiko:</strong>
  <%= @systatik.arxiko %>
</p>

<p>
  <strong>Aposyrsh:</strong>
  <%= @systatik.aposyrsh %>
</p>

<p>
  <strong>Cipac:</strong>
  <%= @systatik.cipac %>
</p>

<p>
  <strong>Dr cod kat:</strong>
  <%= @systatik.dr_cod_kat %>
</p>

<p>
  <strong>Old new:</strong>
  <%= @systatik.old_new %>
</p>

<p>
  <strong>Fao:</strong>
  <%= @systatik.fao %>
</p>

<p>
  <strong>Cas number:</strong>
  <%= @systatik.cas_number %>
</p>

<p>
  <strong>Code xhmik:</strong>
  <%= @systatik.code_xhmik %>
</p>

<%= link_to 'Edit', edit_systatik_path(@systatik) %> |
<%= link_to 'Back', systatiks_path %>
