= form_for @mastfarm do |f|
  - if @mastfarm.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mastfarm.errors.count, "error")} prohibited this mastfarm from being saved:"
      %ul
        - @mastfarm.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :counterable_id
    = f.number_field :counterable_id
  .field
    = f.label :masthenium_id
    = f.text_field :masthenium_id
  .field
    = f.label :fbcode
    = f.text_field :fbcode
  .field
    = f.label :dosh_farm
    = f.text_field :dosh_farm
  .field
    = f.label :mdosh_id
    = f.number_field :mdosh_id
  .actions
    = f.submit 'Save'
