<p id="notice"><%= notice %></p>

<p>
  <strong>Code fyta:</strong>
  <%= @mcrop.code_fyta %>
</p>

<p>
  <strong>Kathh:</strong>
  <%= @mcrop.kathg %>
</p>

<p>
  <strong>Eidos:</strong>
  <%= @mcrop.eidos %>
</p>

<p>
  <strong>Gonoma:</strong>
  <%= @mcrop.gonoma %>
</p>

<p>
  <strong>Genenral:</strong>
  <%= @mcrop.general %>
</p>

<p>
  <strong>Code:</strong>
  <%= @mcrop.code %>
</p>

<p>
  <strong>Klartex:</strong>
  <%= @mcrop.klartext %>
</p>


<%= link_to 'Edit', edit_mcrop_path(@mcrop) %> |
<%= link_to 'Back', mcrops_path %>

<hr>

<h3>Approved Chem List (<%=@mfcs.count%> approved solutions)</h3>
<p><%=link_to "Printable List(PDF)" ,mcrop_path(@mcrop,format:"pdf")%> </p>
  <table class="table">
    <thead>
    <tr>
      <th>Trade name</th>
      <th>Category</th>
      <th>Prime Igedient</th>
      <th>Reasoning</th>
      <th>ApplicationUnit</th>
      <th>Min recom</th>
      <th>Max recom</th>

      <th>Phi</th>

      <th>Approval Date</th>
      <th>Expiration Date</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @mfcs.each do |mfc| %>
        <tr>
          <td><%= mfc.try(:gbonoma) %></td>
          <td>Kategory</td>
          <td><%= mfc.farmako.systatiks.first.try(:onomadron) %></td>
          <td>reasoning</td>
          <td>application unit</td>
          <td>min</td>
          <td>max</td>

          <td><%= mfc.farmako.mepembashes.where(:mcrop_id==params[:id]).last.try(:diast_pros) %></td>
          
          <td><%=mfc.farmako.try(:hmer_egris)%>
          <td><%= mfc.try(:telos_egri) %></td>

          <td><%= link_to 'Show' %></td>
          <td><%= link_to 'Edit' %></td>
          <td><%= link_to 'Destroy' %></td>
        </tr>
    <%end%>


    </tbody>
  </table>



