<p id="notice"><%= notice %></p>

<p>
  <strong><%= @mcrop.kathg %></strong>
(<%= @mcrop.eidos %>)
</p>

<p>
  <strong><%= @mcrop.gonoma %></strong>
    <%= @mcrop.klartext %>

</p>



<%= link_to 'Edit', edit_mcrop_path(@mcrop) %> |
<%= link_to 'Back', mcrops_path %>

<hr>

<h3>Approved Chem List (<%=@mfarmakos.count%> approved solutions)</h3>
<p><%=link_to "Printable List(PDF)" ,mcrop_path(@mcrop,format:"pdf")%> </p>
  <table class="table">
    <thead>
    <tr>
      <th>Trade name</th>
      <th>Category</th>
      <th>Prime Igedient</th>
      <th>Reasoning</th>
      <th>Dosage</th>

      <th>Application Unit</th>
      <th>Application Method</th>

      <th>Phi</th>

      <th>Approval Date</th>
      <th>Expiration Date</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @mfarmakos.each do |farmako| %>
        <tr>
          <td><%=farmako.try(:gbonoma) %></td>
          <td><%=farmako.category(params[:code_fyta])%></td>
          <td>
            <ul>
              <li><% farmako.systatiks.each do |systatik|%>
                  <%=systatik.try(:onomadron) %><%end%></li>
            </ul>
          </td>



          <td><%=farmako.mfarmkasts.where(mcrop_id:params[:code_fyta]).first.try(:mastfarms).try(:last).try(:masthenium).try(:astenia)%></td>
          <td><%=farmako.mfarmkasts.where(mcrop_id:params[:code_fyta]).first.try(:mastfarms).try(:last).try(:dosh_farm)%></td>
          <td><%=farmako.mfarmkasts.where(mcrop_id:params[:code_fyta]).first.try(:mastfarms).try(:last).try(:mdosh).try(:dosh)%></td>
          <td><%= farmako.mepembashes.where(mcrop_id:params[:code_fyta]).first.try(:diast_pros) %></td>


          <td><%=truncate(farmako.try(:tropo_efar))%></td>
          <td><%=farmako.try(:hmer_egris)%>
          <td><%=farmako.try(:telos_egri) %></td>
        </tr>
    <%end%>


    </tbody>
  </table>



