<p id="notice"><%= notice %></p>

<p>
  <strong>Code fyta:</strong>
  <%= @mcrop.code_fyta %>
</p>

<p>
  <strong>Kathh:</strong>
  <%= @mcrop.kathg %>
</p>

<p>
  <strong>Eidos:</strong>
  <%= @mcrop.eidos %>
</p>

<p>
  <strong>Gonoma:</strong>
  <%= @mcrop.gonoma %>
</p>

<p>
  <strong>Genenral:</strong>
  <%= @mcrop.general %>
</p>

<p>
  <strong>Code:</strong>
  <%= @mcrop.code %>
</p>

<p>
  <strong>Klartex:</strong>
  <%= @mcrop.klartext %>
</p>


<%= link_to 'Edit', edit_mcrop_path(@mcrop) %> |
<%= link_to 'Back', mcrops_path %>
