%p#notice= notice

%p
  %b Code kathg:
  = @mkatigori.code_kathg
%p
  %b Kod kathg:
  = @mkatigori.kod_kathg
%p
  %b Kode kathg:
  = @mkatigori.kode_kathg
%p
  %b Gkode kathg:
  = @mkatigori.gkode_kathg
%p
  %b Dr cod kat:
  = @mkatigori.dr_cod_kat
%p
  %b Edr cod kat:
  = @mkatigori.edr_cod_kat
%p
  %b Code:
  = @mkatigori.code
%p
  %b Ovisible:
  = @mkatigori.ovisible
%p
  %b Biocides:
  = @mkatigori.biocides
%p
  %b Kathgoria:
  = @mkatigori.kathgoria
%p
  %b Kathgories:
  = @mkatigori.kathgories
%p
  %b Gkathg:
  = @mkatigori.gkathg
%p
  %b Gkathgoria:
  = @mkatigori.gkathgoria
%p
  %b Hkathgoria:
  = @mkatigori.hkathgoria
%p
  %b Ghkathgoria:
  = @mkatigori.ghkathgoria

= link_to 'Edit', edit_mkatigori_path(@mkatigori)
\|
= link_to 'Back', mkatigoris_path
