<%= form_for([:team,@registration,@activity]) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%=f.collection_check_boxes(:production_ids,@registration.productions,:id,:pmu_with_produce_and_variety) do |b| %>
    <%=b.check_box :checked=>true %> <%= b.label%><br>
    <%end%>
  </div>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date,class:'form-control' %>
  </div>
  <hr>
  <%=f.fields_for :qua do |q|%>
    <fieldset> 

      <%=q.label :amount %>
      <%=q.text_field :amount%>
      <%=q.label :unit%>
      <%=q.text_field :unit%> 

    </fieldset>
  <%end%>
  <hr>

   
  <div class="form-group">
    <%= f.hidden_field :type,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_area :note,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :operator %><br>
    <%= f.text_field :operator,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :persons %><br>
    <%= f.number_field :persons,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :approved_by %><br>
    <%= f.text_field :approved_by,class:'form-control' %>
  </div>


      

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
