
<p>
  <strong>Date:</strong>
  <%= @activity.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @activity.type %>
</p>

<p>
  <strong>Productions:</strong>
  <%@activity.productions.each do |production| %>
  <li><%=production.pmu_with_produce_and_variety%></li>
  <%end%>
</p>

<p>
  <strong>Note:</strong>
  <%= @activity.note %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @activity.operator %>
</p>

<p>
  <strong>Persons:</strong>
  <%= @activity.persons %>
</p>

<p>
  <strong>Approved by:</strong>
  <%= @activity.approved_by %>
</p>



<%= link_to 'Edit', edit_team_registration_activity_path(@registration,@activity) %>
